# a little unusual to exclude all but a few, it's an easy way to allow cloning directly into the mods/ folder with other mods.
*
!.gitignore
!\[Addon\] Nate's Windmill
!\[Addon\] Nate's Windmill/**
!\[Addon\] Small Gas Power Plant
!\[Addon\] Small Gas Power Plant/**
!jakobs-mods.code-workspace
!README.md