on:
  push:
    branches:
      - main

name: Full build

jobs:
  release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: install dependencies
        run: npm install .
      - name: build mods
        run: npm run build
      - name: upload mods
        uses: actions/upload-artifact@v2
        with:
          name: jakobs-mods
          path: out/**
          if-no-files-found: error
